
<ion-header>

  <ion-navbar>
    <ion-title>Tambah Daftar Hotel</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<input type="hidden" [(ngModel)]="hotel.id" />
	<ion-list>
		<ion-item>
			<ion-label floating>Nama Tempat</ion-label>
			<ion-input [(ngModel)]="hotel.nama" type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Alamat</ion-label>
			<ion-input [(ngModel)]="hotel.alamat" type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Kecamatan</ion-label>
			<ion-input [(ngModel)]="hotel.kecamatan" type="text"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Telepon</ion-label>
			<ion-input [(ngModel)]="hotel.telepon" type="tel"></ion-input>
		</ion-item>
	</ion-list>
	<button ion-button full (click)="addKul(hotel.id, hotel.nama, hotel.alamat, hotel.kecamatan, hotel.telepon)"> <span *ngIf="hotel.id">Ubah</span><span *ngIf="!hotel.id">Tambah</span></button>
</ion-content>